<?xml version="1.0"?>
<!--
  Hilgendorf control
-->
<launch>
  
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="right_robot_ip"/>
  <arg name="left_robot_ip"/>
  <arg name="right_reverse_port" default="50001"/>
  <arg name="left_reverse_port" default="50002"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="10.0"/>
  
  <!-- launch drivers for right arm -->
  <include file="$(find hilgendorf_support)/launch/driver_hilgendorf.launch">
    <arg name="robot_ip" value="$(arg right_robot_ip)"/>
    <arg name="reverse_port" value="$(arg right_reverse_port)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
    <arg name="prefix" value="right_"/>
  </include>

  <include file="$(find hilgendorf_support)/launch/driver_hilgendorf.launch">
    <arg name="robot_ip" value="$(arg left_robot_ip)"/>
    <arg name="reverse_port" value="$(arg left_reverse_port)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
    <arg name="prefix" value="left_"/>
  </include>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- TODO: Add launch files for the Robotiq grippers (if any) -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam param="source_list">["left_joint_states", "right_joint_states"]</rosparam> 
  </node>
  
</launch>
